Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@piotrkosinski1992
0
10piotrkosinski1992/LoVet
 Code Issues 0 Pull requests 1 Projects 0 Wiki Security Insights Settings
LoVet/LoVet/.gitignore
@piotrkosinski1992 piotrkosinski1992 Basic setup. TODO - service layer and custom exception model
6d81cb6 on May 28
We found potential security vulnerabilities in your dependencies.
Only the owner of this repository can see this message.

86 lines (73 sloc)  1.03 KB

# ANGULAR

.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
e2e_test.*
node_modules
tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
*.swo
modules/.settings
modules/.vscode

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# com.lovet.User specific bazel settings
.bazelrc.user



# SPRINGBOOT

*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
